body {
  background-color: rgb(39, 36, 36);
  color: rgb(200, 200, 200);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  padding: 10px;
  img {
    margin-right: 0.5rem;
  }
}
